/* Project Meta */

/* reset  */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* general */

html {
  font-size: 10px;
}

#main {
  flex-direction: column;
<<<<<<< Updated upstream
  gap: 1.5625rem;
  padding: 1rem;
=======
  gap: 2.5rem;
  padding: 1.6rem;
>>>>>>> Stashed changes
  font-weight: 400;
}

.main-start {
  display: none;
}

.main-end img {
  width: 100%;
}

.main-container {
  flex-direction: column;
<<<<<<< Updated upstream
  gap: 1.375rem;
}

.title {
  font-size: 3.125rem;
=======
  gap: 2.2rem;
}

.title {
  font-size: 5rem;
>>>>>>> Stashed changes
  line-height: 0.9;
  font-weight: 400;
  color: #1a2236;
}

.my-intro {
<<<<<<< Updated upstream
  font-size: 0.875rem;
  line-height: 1.3125rem;
  letter-spacing: -1%;
  width: 484px;
  height: 105px;
  font-style: normal;
  font-weight: 400;
  color: #1a2236;
  font-family: 'Poppins', sans-serif;
=======
  font-size: 1.6rem;
  line-height: 2.1rem;
  letter-spacing: -1%;
>>>>>>> Stashed changes
}

.btn {
  height: 50px;
  border: none;
  color: #fff;
  background: #1a2236;
  font-weight: 500;
  text-transform: capitalize;
}

.btn:hover,
.btn:focus {
  border: 1px solid #000;
  background-color: #fff;
  color: #000;
<<<<<<< Updated upstream
  transition: ease-in 0.6s;
=======
  transition: ease-in 0.5s;
>>>>>>> Stashed changes
}

.btn:active {
  border: 2px solid #000;
  background-color: #fff;
  color: #000;
}

#start-collab-btn {
<<<<<<< Updated upstream
=======
  width: 100%;
}

.project {
  color: #fff;
  background-color: #1a2236;
}

.bg {
  display: none;
}

.project-header {
  padding-top: 5rem;
  padding-bottom: 2.5rem;
}

#project-title {
  text-transform: capitalize;
  padding-left: 1.6rem;
}

.project-img {
>>>>>>> Stashed changes
  width: 100%;
  display: block;
}

<<<<<<< Updated upstream
/* projects section */

.project {
  color: #fff;
  background-color: #1a2236;
}

.bg {
  display: none;
}

.project-head {
  padding-top: 3.125rem;
  padding-bottom: 1.5625rem;
}

#project-title {
  text-transform: capitalize;
  padding-left: 1rem;
}

.project-image {
  width: 100%;
  display: block;
}

.project-overlay {
  flex-direction: column;
  gap: 0.875rem;
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}

.project-overlay p {
  font-size: 1.25rem;
=======
.project-overlay {
  flex-direction: column;
  gap: 1.4rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.project-overlay p {
  font-size: 2rem;
>>>>>>> Stashed changes
  font-weight: 300;
  padding-left: 1.6rem;
}

.project-languages {
  padding-left: 1.6rem;
  color: #1a2236;
  font-size: 1rem;
  font-weight: 300;
  list-style: none;
}

.project-language {
  background-color: #98dede;
  display: inline;
<<<<<<< Updated upstream
  padding: 0.125rem 0.625rem;
  height: 1.25rem;
  float: left;
  margin-right: 0.3125rem;
=======
  padding: 0.2rem 1rem;
  height: 2rem;
  float: left;
  margin-right: 0.5rem;
>>>>>>> Stashed changes
}

.project-btn {
  margin-left: 1.6rem;
  padding: 1.5rem;
  text-align: center;
  font-size: 1.6rem;
  border: 1px solid #fff;
  background-color: #1a2236;
  color: #fff;
  align-items: center;
  width: 66%;
}

.project-btn:hover {
  color: #1a2236;
  background-color: #fff;
  border: 1px solid #1a2236;
  transition: ease-in 0.5s;
}

.project-btn:active {
  border: 2px solid #1a2236;
  transform: translate(10px, 10px);
}

.project-btn span {
<<<<<<< Updated upstream
  padding-right: 0.625rem;
}

/* about section */

.about {
  flex-direction: column;
  padding: 1.875rem 1rem 1.875rem 1rem;
  gap: 1.25rem;
  margin-bottom: 1.6875rem;
}

.about > h3 {
  margin-top: 2.5rem;
=======
  padding-right: 1rem;
}

.about {
  flex-direction: column;
  padding: 3rem 1.6rem 3rem 1.6rem;
  gap: 2rem;
  margin-bottom: 2.7rem;
}

.about > h3 {
  margin-top: 4rem;
>>>>>>> Stashed changes
}

#about-me-details {
  font-weight: 400;
<<<<<<< Updated upstream
  font-size: 0.875rem;
  line-height: 1.3125rem;
  color: #1a2236;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
=======
  font-size: 1.4rem;
  line-height: 2.1rem;
  color: #1a2236;
  padding-top: 2rem;
  padding-bottom: 2rem;
>>>>>>> Stashed changes
}

#get-cv-btn {
  justify-content: center;
  align-items: center;
<<<<<<< Updated upstream
  gap: 0.625rem;
=======
  gap: 1rem;
>>>>>>> Stashed changes
  width: 100%;
}

.details-container {
  color: #fff;
}

footer ul {
  text-align: center;
  justify-content: space-between;
<<<<<<< Updated upstream
  margin: 2.5rem;
=======
  margin: 4rem;
>>>>>>> Stashed changes
  list-style: none;
  gap: 1rem;
}

.details-container ul {
  padding: 0;
}

.card {
<<<<<<< Updated upstream
  padding: 2.5rem;
=======
  padding-left: 4rem;
>>>>>>> Stashed changes
  list-style: none;
  height: 289px;
}

.card h5 {
<<<<<<< Updated upstream
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
}

.list-i {
  font-size: 1.125rem;
=======
  font-size: 2rem;
  margin-bottom: 2.1rem;
  padding-top: 4rem;
}

.list-i {
  font-size: 1.8rem;
>>>>>>> Stashed changes
  font-weight: 600;
  list-style-type: disc;
  margin-left: 2rem;
}

#langs {
  background-color: #1c528a;
<<<<<<< Updated upstream
  background-image: url(Images/icons/hash.svg);
=======
  background-image: url(/icons/hash.svg);
>>>>>>> Stashed changes
  background-repeat: no-repeat;
  background-position: right bottom;
}

#frameworks {
  background-color: #e2505c;
<<<<<<< Updated upstream
  background-image: url(Images/icons/frameworks.svg);
=======
  background-image: url(/icons/frameworks.svg);
>>>>>>> Stashed changes
  background-repeat: no-repeat;
  background-position: right bottom;
}

#skills {
  background-color: #febf52;
<<<<<<< Updated upstream
  background-image: url(Images/icons/Skills.svg);
=======
  background-image: url(/icons/Skills.svg);
>>>>>>> Stashed changes
  background-repeat: no-repeat;
  background-position: right bottom;
}

#about-me-bg {
<<<<<<< Updated upstream
  display: none;
=======
  display: flex;
>>>>>>> Stashed changes
}

#contact-me {
  color: #1a2236;
}

#get-started {
<<<<<<< Updated upstream
  margin-top: 3.125rem;
=======
  
width: 548px;
height: 110px;
font-family: 'Playfair Display';
font-style: normal;
font-weight: 400;
font-size: 80px;
color: #1A2236;
>>>>>>> Stashed changes
}

.contact-t-img {
  margin-bottom: 3.2rem;
}

#contact-me h3 {
  margin-left: 1.6rem;
  margin-bottom: 2rem;
}

<<<<<<< Updated upstream
.contact-intro {
  font-size: 0.875rem;
  line-height: 1.3125rem;
  font-weight: 400;
  letter-spacing: -1%;
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: left;
=======
.contact-intro {  
width: 548px;
height: 42px;
font-family: 'Poppins';
font-style: normal;
font-weight: 350px;
font-size: 14px;
line-height: 21px;
letter-spacing: -0.01em;
color: #1A2236;

>>>>>>> Stashed changes
}

/* form */

#contact-box {
  flex-direction: column;
}

form {
  margin: 1.6rem;
  flex-direction: column;
}

.form-label {
  color: #7d7c84;
  font-size: 1rem;
<<<<<<< Updated upstream
  margin-bottom: 0.1875rem;
  margin-top: 0.5625rem;
=======
  margin-bottom: 0.3rem;
  margin-top: 0.9rem;
>>>>>>> Stashed changes
}

.form-label,
input {
  display:block;
  
}
.container {
  display: flex;
  justify-content: space-between;
}


input {
<<<<<<< Updated upstream
  height: 3.25rem;
  width: 100%;
  padding-left: 1rem;
}

textarea {
  width: 100%;
  height: 5.625rem;
  padding-top: 0.875rem;
  padding-left: 1rem;
  margin-bottom: 1.25rem;
=======
 height: 60px;
padding-left: 1.6rem;
width: 254px;
background: #FFFFFF;
border: 1px solid #E0E0E0;
border-radius: 4px;
margin-right: 5px;
}

textarea {
width: 100%;
height: 9rem;
padding-top: 1.4rem;
padding-left: 1.6rem;
margin-bottom: 2rem;
width: 542px;
height: 140px;
background: #FFFFFF;
border: 1px solid #E0E0E0;
border-radius: 4px;

width: 542px;
height: 140px;
left: 449px;


background: #FFFFFF;
border: 1px solid #E0E0E0;
border-radius: 4px;
>>>>>>> Stashed changes
}

input:hover {
  border: 0.04rem solid #000;
}

/* typography */
.popins {
  font-family: "Poppins", sans-serif;
}

.playfair {
  font-family: "Playfair Display", serif;
}

/* grid  & flex */

#projects {
  display: grid;
  grid-template-rows: auto repeat(6, 1fr);
  grid-template-columns: 1fr;
}

.flex {
  display: flex;
}

/* header */

header {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5%;
}

#menu-1 {
  width: 20px;
  margin-right: 14px;
}

.nav_links {
  display: none;
}

/* footer */

.popins {
  font-family: "Poppins", sans-serif;
}

.playfair {
  font-family: "Playfair Display", serif;
}

/* grid  & flex */

#projects {
  display: grid;
  grid-template-rows: auto repeat(6, 1fr);
  grid-template-columns: 1fr;
}

.flex {
  display: flex;
}

/* header */

header {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5%;
}

#menu-1 {
  width: 20px;
  margin-right: 14px;
}

.nav_links {
  display: none;
}

/* footer */

footer {
  background: #1a2236;
  flex-direction: column;
}

#get-resume {
  margin-top: 2.8rem;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  border: none;
  background-color: #1a2236;
  color: #92dcdc;
  font-weight: 500;
  font-size: 1.6rem;
  cursor: pointer;
}

.social-icon {
  cursor: pointer;
}

.social-icon:hover {
  transition: all 0.7s ease-in;
  transform: scale(1.3);
}

<<<<<<< Updated upstream
=======


>>>>>>> Stashed changes
@media screen and (min-width: 768px) {
  /* general */

  .title {
<<<<<<< Updated upstream
    font-size: 5.5625rem;
=======
    font-size: 9rem;
>>>>>>> Stashed changes
    font-weight: 400;
  }

  .bg {
    display: block;
    background-size: 100% 100%;
  }

<<<<<<< Updated upstream
  .bg:hover {
    transform: scale(1.01);
  }

=======
>>>>>>> Stashed changes
  /* header section */

  header {
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
  }

  #menu-1 {
    display: none;
  }

  .nav {
<<<<<<< Updated upstream
    font-size: 1rem;
    font-weight: 400;
    padding: 2.375rem;
=======
    font-size: 1.6rem;
    font-weight: 400;
    padding: 3.8rem;
>>>>>>> Stashed changes
  }

  .nav_links {
    display: flex;
    gap: 5rem;
    list-style: none;
  }

  .nav_link:link,
  .nav_link:visited {
    color: #1a2236;
    text-decoration: none;
  }

  .nav_link:hover,
  .nav_link:active {
    text-decoration: #1a2236 underline;
  }

  .l-t-img {
    display: none;
  }

<<<<<<< Updated upstream
  /* main section */
=======
  /* hero section */
>>>>>>> Stashed changes

  #main {
    flex-direction: row;
    width: 100%;
    gap: 0;
    padding: 0;
<<<<<<< Updated upstream
    margin-bottom: 1.25rem;
=======
    margin-bottom: 20rem;
>>>>>>> Stashed changes
  }

  form > * {
    width: 100%;
  }

  .about > * {
    flex: 1;
  }

  #main > * {
    width: 50%;
  }

  .main-start {
    display: block;
<<<<<<< Updated upstream
    background: url(Images/icons/hero_main.svg);
    background-size: 100% 100%;
    min-height: 46.875rem;
  }

  .mian-container {
    min-height: 46.875rem;
    padding-left: 6.25rem;
    padding-right: 3.125rem;
    flex-direction: column;
    justify-content: center;
    background-image: url(Images/icons/image_dots.svg);
    background-position-x: right;
    background-position-y: bottom;
    gap: 3.125rem;
  }

  .main-container h1 {
    font-size: 6.25rem;
=======
    background: url(icons/hero_main.svg);
    background-size: 100% 100%;
    height: 75rem;
  }

  .main-container {
    height: 75rem;
    padding-left: 10rem;
    padding-right: 5rem;
    flex-direction: column;
    justify-content: center;
    background-image: url(icons/image_dots.svg);
    background-position: right bottom;
    background-repeat: no-repeat;
    gap: 5rem;
  }

  .main-container h1 {
    font-size: 10rem;
>>>>>>> Stashed changes
    line-height: 100%;
    width: 50%;
  }

  #start-collab-btn {
    width: 50%;
  }

  .main-end {
    display: none;
  }

  /* project section */

  #projects {
    background-color: #fff;
    display: grid;
    grid-template-rows: 6.41fr 2fr 1fr 1fr 2fr 3.16fr 3.1fr;
    grid-template-columns: 2.66fr 1fr 1fr 1fr 1.66fr 1fr;
    grid-template-areas:
      "project-title project-1 project-1 project-1 project-1 project-1"
      "project-2     bg-1      bg-1      bg-1      project-6 project-6"
      "project-2     bg-1      bg-1      bg-1      project-6 project-6"
      "project-2     bg-1      bg-1      bg-1      project-5 project-5"
      "project-3     project-3 project-3 .         project-5 project-5"
      "project-3     project-3 project-3 bg-2      bg-2      bg-2"
      "bg-3          bg-3      bg-3      project-4 project-4 .";
<<<<<<< Updated upstream
    margin-bottom: 12.5rem;
=======
    margin-bottom: 20rem;
>>>>>>> Stashed changes
  }

  .project {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #fff;
  }

  .project-img {
    display: block;
    width: 100%;
    object-fit: cover;
    margin-top: 0;
    margin-left: 0;
  }

  .project-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 0;
    background: rgba(26, 34, 54, 0.95);
    opacity: 0;
    overflow: hidden;
    transition: 0.5s ease;
  }

<<<<<<< Updated upstream
  .project:hover {
    transition: all 0.5s ease-in;
    transform: scale(1.01);
  }

=======
>>>>>>> Stashed changes
  .project:hover .project-overlay {
    height: 75%;
    opacity: 1;
  }

  #project-1 {
    grid-area: project-1;
  }

  #project-2 {
    grid-area: project-2;
    position: relative;
  }

  #project-2 .project-img {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  #project-3 {
    grid-area: project-3;
  }

  #project-4 {
    grid-area: project-4;
  }

  #project-5 {
    grid-area: project-5;
  }

  #project-6 {
    grid-area: project-6;
  }

  #bg-1 {
    grid-area: bg-1;
<<<<<<< Updated upstream
    background-image: url(Images/icons/background-1.svg);
=======
    background-image: url(icons/background-1.svg);
>>>>>>> Stashed changes
    background-size: 100% 100%;
  }

  #bg-2 {
    grid-area: bg-2;
<<<<<<< Updated upstream
    background-image: url(Images/icons/background-2.svg);
=======
    background-image: url(icons/background-2.svg);
>>>>>>> Stashed changes
  }

  #bg-3 {
    grid-area: bg-3;
    background-image:
<<<<<<< Updated upstream
      url(Images/icons/background-3.svg),
      url(Images/icons/image-geometry_4.svg);
=======
      url(icons/background-3.svg),
      url(icons/image-geometry_4.svg);
>>>>>>> Stashed changes
    background-repeat: no-repeat, no-repeat;
    background-position-x: left, right;
    background-position-y: top, top;
    background-size: 50% 50%, 50% 50%;
  }

<<<<<<< Updated upstream
  .project-head {
    padding-left: 6.25rem;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: top;
    background-image: url(Images/icons/image_dots.svg);
=======
  .project-header {
    padding-left: 10rem;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: top;
    background-image: url(icons/image_dots.svg);
>>>>>>> Stashed changes
  }

  #project-title {
    grid-area: project-title;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
  }

  /* about me section */

  .about {
    flex-direction: row-reverse;
<<<<<<< Updated upstream
    padding: 6.25rem;
  }

  #about-me {
    padding: 3.125rem;
  }

  footer > ul {
    gap: 1.875rem;
=======
    padding: 10rem;
    gap: 5rem;
  }

  #about_me {
    padding: 5rem;
  }

  footer > ul {
    gap: 3rem;
>>>>>>> Stashed changes
  }

  .details-container > ul {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    flex: 1;
  }

  #get-cv-btn {
    width: 50%;
  }

  #about-me-details {
<<<<<<< Updated upstream
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
  }

  #about-me-bg {
    display: block;
    background-image: url(Images/icons/image_dots_with_teal.svg);
=======
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  #about-me-bg {
    background-image: url(icons/image_dots_with_teal.svg);
>>>>>>> Stashed changes
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    background-size: 70% 70%;
  }

  /* contact me section */

  .contact-t-img {
    display: none;
  }

  #contact-me {
    background-image:
<<<<<<< Updated upstream
      url(Images/icons/contact-bg.svg),
      url(Images/icons/image-geometry_7.svg);
    background-repeat: no-repeat;
    background-position-x: left, right;
    background-position-y: top, bottom;
    padding: 9.375rem;
=======
      url(icons/contact-bg.svg),
      url(icons/image-geometry_7.svg);
    background-repeat: no-repeat;
    background-position-x: left, right;
    background-position-y: top, bottom;
    padding: 15rem;
>>>>>>> Stashed changes
  }

  #contact-box {
    flex-direction: column;
    margin: 0 auto;
    width: 50%;
  }

  #contact-intro {
    text-align: left;
  }

<<<<<<< Updated upstream
  .bt-form {
    align-self: center;
    justify-content: center;
=======
  form {
    flex-direction: column;
  }

  .bt-form {
    align-self: center;
    justify-content: center;
    
>>>>>>> Stashed changes
  }

  /* footer */
  footer {
    flex-direction: row;
    justify-content: space-between;
<<<<<<< Updated upstream
    padding-left: 10rem;
    padding-right: 10rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  #hero h1 {
    font-size: 4.375rem;
  }

  #start-collab-btn {
    width: 80%;
  }

  #contact-box {
    width: 65%;
  }

  #contact-me form {
    min-width: 70%;
  }

  .card {
    min-width: 15.625rem;
=======
    padding-left: 16rem;
    padding-right: 16rem;
>>>>>>> Stashed changes
  }
}

