/* Project Meta */

/* Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
}

/* General */

html {
  font-size: 16px;
}

/* header section */

#menu-1 {
  width: 2.5rem;
}

nav {
  height: 4rem;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 5%;
  background-image: url(images/icons/image_geometry_1.svg);
  padding: 1rem;
  background-position: left top;
}

.flex {
  display: flex;
}

/* main section */

#main {
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
  font-weight: 400;
}

.main-end img {
  width: 320px;
  height: 160px;
  left: 0;
  top: 472px;
}

.title {
  width: 220px;
  height: 100px;
  left: 16px;
  top: 104px;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  color: #1a2236;
}

.my-introduction {
  width: 288px;
  height: 147px;
  left: 16px;
  top: 221px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #1a2236;
}

.btn {
  box-sizing: border-box;
  width: 288px;
  height: 50px;
  left: 16px;
  top: 390px;
  background: #1a2236;
  color: #fff;
}

.btn:hover,
.btn:focus {
  border: 1px solid #000;
  background-color: #fff;
  color: #000;
}

.btn:active {
  border: 2px solid #000;
  background-color: #fff;
  color: #000;
}

/* Typyogrphy */
.popins {
  font-family: "Poppins", sans-serif;
}

.playfair {
  font-family: "Playfair Display", serif;
}

.project {
  color: #fff;
  flex-direction: column;
  gap: 1.25rem;
  background-color: #1a2236;
  padding-bottom: 1.25rem;
}

#project-title {
  width: 181px;
  height: 50px;
  left: 16px;
  top: 672px;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  color: #1a2236;
  margin: 16px 121px 40px 32px;
}

.project-img {
  width: 100%;
}

.project h3 {
  font-size: 1.25rem;
  font-weight: 300;
  padding-left: 1rem;
}

.project-languages {
  padding-left: 1rem;
  color: #1a2236;
  font-size: 0.625rem;
  font-weight: 300;
  list-style: none;
  gap: 0.625rem;
}

.project-language {
  background-color: #98dede;
  display: inline-block;
  padding: 0.15rem 0.3rem;
  height: 1.25rem;
}

.project-btn {
  margin-left: 1rem;
  padding: 0.9375rem;
  text-align: center;
  font-size: 1rem;
  border: 1px solid #fff;
  background-color: #1a2236;
  color: #fff;
  align-items: center;
  width: 53%;
}

.project-btn:hover {
  color: #1a2236;
  background-color: #fff;
  border: 1px solid #1a2236;
}

.project-btn:active {
  border: 2px solid #1a2236;
}

.project-btn span {
  padding-right: 0.625rem;
}

/* grid & flex */

#projects {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-rows: 1fr;
  width: 100%;
}

.about {
  flex-direction: column;
  padding: 1rem;
  gap: 1.25rem;
}

#about-me {
  width: 288px;
  height: 105px;
  left: 16px;
  top: 2932px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #1a2236;
}

#get-cv-btn {
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
}

.d-container {
  color: #fff;
}

.card {
  padding-left: 3.125rem;
  list-style: none;
  height: 289px;
}

.card h5 {
  font-size: 1.25rem;
  margin-bottom: 1.3125rem;
  padding-top: 3.125rem;
}

.list-1 {
  background-color: 1.125rem;
  font-weight: 600;
  list-style-type: disc;
  margin-left: 1.25rem;
}

#languages {
  background-color: #1c528a;
  background-image: url(images/icons/hash.svg);
  background-position: right bottom;
}

#frameworks {
  background-color: #e2505c;
  background-image: url(images/icons/frameworks.svg);
  background-position: right bottom;
}

#skills {
  background-color: #febf52;
  background-image: url(images/icons/Skills.svg);
  background-position: right bottom;
}
